*{
    margin: 0;
    padding: 0;
}
  
.mynavbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    background: #171717;
}
  
.logo{
    margin-left:20px;
}
  
.user{
    display:flex;
    align-items:center;
}
  
.name{
    margin-right:23px;
}

.mycontainer{
    color:white;
}
  
.profile-pic{
    height:44;
    width:44;
}

.pic{
    border-radius: 50%;
}
  
.main-section{
    padding: 0px 50px;
}
  
.tab-bar{
    display:flex;
    padding: 20px 0px;
}
  
.ride{
    padding: 5px 25px 5px 0px;
}
  
.list-item{
    display:flex;
    justify-content: space-between;
    background: #171717;
    border-radius: 6px;
    padding: 20px 25px;
}
  
.thumbnail{
    flex: 5;
}
  
.content{
    flex: 7;
    display: flex;
    padding: 0px 40px;
    flex-direction: column;
    justify-content: space-around;
}
  
.tag{
    flex: 1;
}
  
.tag-text{
    background: #000;
    padding: 5px 12px;
    border-radius: 15px;
}
  
.img{
    width:100%;    
    height: 200px;
}